.homepage {
  text-align: left;
}
.homepage h3 {
  font-weight: 500;
  font-size: 20pt;
}
.homepage-category-list {
  display: flex;
  padding: 0;
  margin: 0;
}
.homepage-category-item {
  text-align: left;
  font-size: 13pt;
  list-style: none;
  position: relative;
  margin: 10px 60px 0 0;
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.homepage-category-item.active {
  font-weight: 600;
}
.homepage-category-item:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Измените толщину при необходимости */
  width: 50%;
  height: 1px; /* Измените толщину при необходимости */
  background-image: linear-gradient(to right, black 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s;
}
.homepage-category-item:hover::after {
  background-position: 0 0;
}

/* meal content */

.homepage-meal__content {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.meal-item {
  width: 300px;
  height: 200px;
  border-radius: 20px;
  margin: 20px 20px 0 0;
  position: relative;
}

.meal-title {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 13pt;
  word-wrap: break-word;
  padding: 120px 50px 0 20px;
}
.meal-img__wrapper {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.meal-img {
  width: 100%;
  height: 100%;
}
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
